@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
	font-family: 'Nanum Gothic', serif;
	font-weight: bolder;
	margin: 0;
	background-color: #FFFFFF;
}

.floorLabelBox{
	position: absolute;
	margin: 20px 20px 20px 20px;
	font-size: 50px;
}

.textBox{
	width : 100px;
}