<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE configuration>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
		 	<pattern>▶%-5level %d{HH:mm:ss.SSS} [%thread] %logger{36}[%method:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- <appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/weblog.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			daily rollover
			<fileNamePattern>logs/weblog.%d{yyyy-MM-dd}.log</fileNamePattern>
			keep 30 days' worth of history
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{0}] %m%n</pattern>
		</encoder>
	</appender> -->
	
	 <!--
	<logger name="org.springframework" level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</logger>
	-->
	<logger name="triangle" level="DEBUG">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" /> -->
	</logger>
	<!-- 
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
 	-->
	<!-- DEBUG < INFO < WARN < ERROR -->
</configuration>
